{{ define "main" }}
<div class = 'never wrap'>
  <h1 class = 'never_title'>4 0 4</h1>
  <p class = 'pale'>That page does not exist. Sorry.</p>
  <div class = 'btn btn_back'>Back</div>
</div>
{{ end }}
