{{ define "main" }}
<div class = 'wrap pt-2 mt-2'>
  {{- $size := .Paginator.PageSize }}
  <!-- This line is skipped, pagingate is a trap-->
  {{/* $pages := .Paginate (where .Site.RegularPages "Section" "!=" "").ByPublishDate.Reverse */}}<!-- This line is skipped, pagingate is a trap-->
  {{ $scratch := newScratch }}
  <!-- Debug: {{/* len $pages.Pages */}} -->
  {{- range $index, $value := (where .Site.RegularPages "Section" "!=" "post") }}
    {{ if isset .Params "image" }}
      {{ $scratch.Set "image" .Params.image }}
    {{ else }}
      {{ $scratch.Set "image" "thumbnail.svg" }}
    {{ end }}
    {{ $image := $scratch.Get "image" }}
    {{ $bg := (absURL (printf "images/%s" $image)) }}
  <article class = 'article mb-2'>
    <a href = '{{ $value.Permalink }}' {{ if eq $index 0 }} class = 'grid-reverse' {{ end }}>
      <div class = 'article_thumb' style='background-image: url({{ $bg }})'></div>
      <div class = 'article_meta {{ if eq $index 0 }} center_y {{ end }}'>
        <!-- <time class = 'pale'>{{ dateFormat "January 02, 2006" $value.Date }}</time> Commented out date, don't want it -->
        <h3 class = 'article_title'>{{ $value.Title }}</h3>
        <div class = 'article_excerpt {{ if eq $index 0 }} visible {{ end }}'>
        <p>{{ $value.Summary | truncate 100 }}</p>
        </div>
      </div>
    </a>
  </article>
  {{- if and (eq $index 0) (gt $size 1)  }}<div class = 'grid-2 article_showcase'>{{ end }}
  {{- if and (eq $index (add $size -1)) (gt $size 1) }}</div>{{ end }}
  {{- end }}
</div>
<!-- Commenting out the archive, don't want it. <a href = '{{ absURL (printf "post/%s" "") }}' class = 'post_nav'><span class = 'post_next'>View Archive</span></a> -->
{{ end }}
