<!---
  This file is derived from the template The Scenic in AMP Start.
  https://ampstart.com/
-->
<!---
  Copyright 2017 The AMP Start Authors. All Rights Reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS-IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!DOCTYPE html>
<html ⚡="">
  <head>
    <meta charset="utf-8" />
    <meta name="pinterest" content="nopin" />
    <title>{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Site.BaseURL }}" />
    <meta
      name="viewport"
      content="width=device-width,minimum-scale=1,initial-scale=1"
    />
    <meta name="theme-color" content="#263238" />
    <link rel="apple-touch-icon" href="{{ .Site.Params.ogimage }}" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../{{ .Site.Params.ogimage }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../{{ .Site.Params.ogimage }}"
    />

    <script async="" src="https://cdn.ampproject.org/v0.js"></script>
    <meta name="description" content="{{ .Site.Params.description }}" />
    <meta property="og:title" content="{{ .Site.Title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ .Site.BaseURL }}" />
    <meta property="og:image" content="{{ .Site.Params.ogimage }}" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <meta property="og:description" content="{{ .Site.Params.description }}" />
    <meta property="og:locale" content="{{ .Site.LanguageCode }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="{{ .Site.Title }}" />
    <meta name="twitter:url" content="{{ .Site.BaseURL }}" />
    <meta name="twitter:title" content="{{ .Site.Title }}" />
    <meta name="twitter:description" content="{{ .Site.Params.description }}" />
    <meta name="twitter:image" content="{{ .Site.Params.ogimage }}" />
    <style amp-boilerplate="">
      body {
        -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
        -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
        -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
        animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      }
      @-webkit-keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @-moz-keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @-ms-keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @-o-keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
    </style>
    <noscript
      ><style amp-boilerplate="">
        body {
          -webkit-animation: none;
          -moz-animation: none;
          -ms-animation: none;
          animation: none;
        }
      </style></noscript
    >
    <script
      custom-element="amp-carousel"
      src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"
      async=""
    ></script>
    <script
      custom-element="amp-sidebar"
      src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"
      async=""
    ></script>
    <script
      custom-element="amp-accordion"
      src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"
      async=""
    ></script>
    <script
      custom-element="amp-instagram"
      src="https://cdn.ampproject.org/v0/amp-instagram-0.1.js"
      async=""
    ></script>
    <script
      custom-element="amp-social-share"
      src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"
      async=""
    ></script>
    <script
      async
      custom-element="amp-analytics"
      src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=EB+Garamond%7CWork+Sans:400,700"
      rel="stylesheet"
    />
    <style amp-custom="">
      /*! Bassplate | MIT License | http://github.com/basscss/bassplate */
      /*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
      html {
        font-family: sans-serif;
        line-height: 1.15;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
      }
      body {
        margin: 0;
      }
      article,
      aside,
      footer,
      header,
      nav,
      section {
        display: block;
      }
      h1 {
        font-size: 2em;
        margin: 0.67em 0;
      }
      figcaption,
      figure,
      main {
        display: block;
      }
      figure {
        margin: 1em 40px;
      }
      hr {
        box-sizing: content-box;
        height: 0;
        overflow: visible;
      }
      pre {
        font-family: monospace, monospace;
        font-size: 1em;
      }
      a {
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
      }
      a:active,
      a:hover {
        outline-width: 0;
      }
      abbr[title] {
        border-bottom: none;
        text-decoration: underline;
        text-decoration: underline dotted;
      }
      b,
      strong {
        font-weight: inherit;
        font-weight: bolder;
      }
      code,
      kbd,
      samp {
        font-family: monospace, monospace;
        font-size: 1em;
      }
      dfn {
        font-style: italic;
      }
      mark {
        background-color: #ff0;
        color: #000;
      }
      small {
        font-size: 80%;
      }
      sub,
      sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
      }
      sub {
        bottom: -0.25em;
      }
      sup {
        top: -0.5em;
      }
      audio,
      video {
        display: inline-block;
      }
      audio:not([controls]) {
        display: none;
        height: 0;
      }
      img {
        border-style: none;
      }
      svg:not(:root) {
        overflow: hidden;
      }
      button,
      input,
      optgroup,
      select,
      textarea {
        font-family: sans-serif;
        font-size: 100%;
        line-height: 1.15;
        margin: 0;
      }
      button,
      input {
        overflow: visible;
      }
      button,
      select {
        text-transform: none;
      }
      [type="reset"],
      [type="submit"],
      button,
      html [type="button"] {
        -webkit-appearance: button;
      }
      [type="button"]::-moz-focus-inner,
      [type="reset"]::-moz-focus-inner,
      [type="submit"]::-moz-focus-inner,
      button::-moz-focus-inner {
        border-style: none;
        padding: 0;
      }
      [type="button"]:-moz-focusring,
      [type="reset"]:-moz-focusring,
      [type="submit"]:-moz-focusring,
      button:-moz-focusring {
        outline: 1px dotted ButtonText;
      }
      fieldset {
        border: 1px solid silver;
        margin: 0 2px;
        padding: 0.35em 0.625em 0.75em;
      }
      legend {
        box-sizing: border-box;
        color: inherit;
        display: table;
        max-width: 100%;
        padding: 0;
        white-space: normal;
      }
      progress {
        display: inline-block;
        vertical-align: baseline;
      }
      textarea {
        overflow: auto;
      }
      [type="checkbox"],
      [type="radio"] {
        box-sizing: border-box;
        padding: 0;
      }
      [type="number"]::-webkit-inner-spin-button,
      [type="number"]::-webkit-outer-spin-button {
        height: auto;
      }
      [type="search"] {
        -webkit-appearance: textfield;
        outline-offset: -2px;
      }
      [type="search"]::-webkit-search-cancel-button,
      [type="search"]::-webkit-search-decoration {
        -webkit-appearance: none;
      }
      ::-webkit-file-upload-button {
        -webkit-appearance: button;
        font: inherit;
      }
      details,
      menu {
        display: block;
      }
      summary {
        display: list-item;
      }
      canvas {
        display: inline-block;
      }
      [hidden],
      template {
        display: none;
      }
      .h1 {
        font-size: 2.25rem;
      }
      .h2 {
        font-size: 1.25rem;
      }
      .h3 {
        font-size: 0.6875rem;
      }
      .h4,
      .h5 {
        font-size: 0.875rem;
      }
      .h6 {
        font-size: 0.75rem;
      }
      .font-family-inherit {
        font-family: inherit;
      }
      .font-size-inherit {
        font-size: inherit;
      }
      .text-decoration-none {
        text-decoration: none;
      }
      .bold {
        font-weight: 700;
      }
      .regular {
        font-weight: 400;
      }
      .italic {
        font-style: italic;
      }
      .caps {
        text-transform: uppercase;
        letter-spacing: 0.2em;
      }
      .left-align {
        text-align: left;
      }
      .center {
        text-align: center;
      }
      .right-align {
        text-align: right;
      }
      .justify {
        text-align: justify;
      }
      .nowrap {
        white-space: nowrap;
      }
      .break-word {
        word-wrap: break-word;
      }
      .line-height-1 {
        line-height: 1rem;
      }
      .line-height-2 {
        line-height: 1.42857;
      }
      .line-height-3 {
        line-height: 2.0625;
      }
      .line-height-4 {
        line-height: 1.81818;
      }
      .list-style-none {
        list-style: none;
      }
      .underline {
        text-decoration: underline;
      }
      .truncate {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .list-reset {
        list-style: none;
        padding-left: 0;
      }
      .inline {
        display: inline;
      }
      .block {
        display: block;
      }
      .inline-block {
        display: inline-block;
      }
      .table {
        display: table;
      }
      .table-cell {
        display: table-cell;
      }
      .overflow-hidden {
        overflow: hidden;
      }
      .overflow-scroll {
        overflow: scroll;
      }
      .overflow-auto {
        overflow: auto;
      }
      .clearfix:after,
      .clearfix:before {
        content: " ";
        display: table;
      }
      .clearfix:after {
        clear: both;
      }
      .left {
        float: left;
      }
      .right {
        float: right;
      }
      .fit {
        max-width: 100%;
      }
      .max-width-1 {
        max-width: 24rem;
      }
      .max-width-2 {
        max-width: 32rem;
      }
      .max-width-3 {
        max-width: 48rem;
      }
      .max-width-4 {
        max-width: 64rem;
      }
      .border-box {
        box-sizing: border-box;
      }
      .align-baseline {
        vertical-align: baseline;
      }
      .align-top {
        vertical-align: top;
      }
      .align-middle {
        vertical-align: middle;
      }
      .align-bottom {
        vertical-align: bottom;
      }
      .m0 {
        margin: 0;
      }
      .mt0 {
        margin-top: 0;
      }
      .mr0 {
        margin-right: 0;
      }
      .mb0 {
        margin-bottom: 0;
      }
      .ml0,
      .mx0 {
        margin-left: 0;
      }
      .mx0 {
        margin-right: 0;
      }
      .my0 {
        margin-top: 0;
        margin-bottom: 0;
      }
      .m1 {
        margin: 0.5rem;
      }
      .mt1 {
        margin-top: 0.5rem;
      }
      .mr1 {
        margin-right: 0.5rem;
      }
      .mb1 {
        margin-bottom: 0.5rem;
      }
      .ml1,
      .mx1 {
        margin-left: 0.5rem;
      }
      .mx1 {
        margin-right: 0.5rem;
      }
      .my1 {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }
      .m2 {
        margin: 1rem;
      }
      .mt2 {
        margin-top: 1rem;
      }
      .mr2 {
        margin-right: 1rem;
      }
      .mb2 {
        margin-bottom: 1rem;
      }
      .ml2,
      .mx2 {
        margin-left: 1rem;
      }
      .mx2 {
        margin-right: 1rem;
      }
      .my2 {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
      .m3 {
        margin: 1.5rem;
      }
      .mt3 {
        margin-top: 1.5rem;
      }
      .mr3 {
        margin-right: 1.5rem;
      }
      .mb3 {
        margin-bottom: 1.5rem;
      }
      .ml3,
      .mx3 {
        margin-left: 1.5rem;
      }
      .mx3 {
        margin-right: 1.5rem;
      }
      .my3 {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
      }
      .m4 {
        margin: 2rem;
      }
      .mt4 {
        margin-top: 2rem;
      }
      .mr4 {
        margin-right: 2rem;
      }
      .mb4 {
        margin-bottom: 2rem;
      }
      .ml4,
      .mx4 {
        margin-left: 2rem;
      }
      .mx4 {
        margin-right: 2rem;
      }
      .my4 {
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
      .mxn1 {
        margin-left: -0.5rem;
        margin-right: -0.5rem;
      }
      .mxn2 {
        margin-left: -1rem;
        margin-right: -1rem;
      }
      .mxn3 {
        margin-left: -1.5rem;
        margin-right: -1.5rem;
      }
      .mxn4 {
        margin-left: -2rem;
        margin-right: -2rem;
      }
      .ml-auto {
        margin-left: auto;
      }
      .mr-auto,
      .mx-auto {
        margin-right: auto;
      }
      .mx-auto {
        margin-left: auto;
      }
      .p0 {
        padding: 0;
      }
      .pt0 {
        padding-top: 0;
      }
      .pr0 {
        padding-right: 0;
      }
      .pb0 {
        padding-bottom: 0;
      }
      .pl0,
      .px0 {
        padding-left: 0;
      }
      .px0 {
        padding-right: 0;
      }
      .py0 {
        padding-top: 0;
        padding-bottom: 0;
      }
      .p1 {
        padding: 0.5rem;
      }
      .pt1 {
        padding-top: 0.5rem;
      }
      .pr1 {
        padding-right: 0.5rem;
      }
      .pb1 {
        padding-bottom: 0.5rem;
      }
      .pl1 {
        padding-left: 0.5rem;
      }
      .py1 {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }
      .px1 {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
      .p2 {
        padding: 1rem;
      }
      .pt2 {
        padding-top: 1rem;
      }
      .pr2 {
        padding-right: 1rem;
      }
      .pb2 {
        padding-bottom: 1rem;
      }
      .pl2 {
        padding-left: 1rem;
      }
      .py2 {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
      .px2 {
        padding-left: 1rem;
        padding-right: 1rem;
      }
      .p3 {
        padding: 1.5rem;
      }
      .pt3 {
        padding-top: 1.5rem;
      }
      .pr3 {
        padding-right: 1.5rem;
      }
      .pb3 {
        padding-bottom: 1.5rem;
      }
      .pl3 {
        padding-left: 1.5rem;
      }
      .py3 {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
      }
      .px3 {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
      .p4 {
        padding: 2rem;
      }
      .pt4 {
        padding-top: 2rem;
      }
      .pr4 {
        padding-right: 2rem;
      }
      .pb4 {
        padding-bottom: 2rem;
      }
      .pl4 {
        padding-left: 2rem;
      }
      .py4 {
        padding-top: 2rem;
        padding-bottom: 2rem;
      }
      .px4 {
        padding-left: 2rem;
        padding-right: 2rem;
      }
      .col {
        float: left;
      }
      .col,
      .col-right {
        box-sizing: border-box;
      }
      .col-right {
        float: right;
      }
      .col-1 {
        width: 8.33333%;
      }
      .col-2 {
        width: 16.66667%;
      }
      .col-3 {
        width: 25%;
      }
      .col-4 {
        width: 33.33333%;
      }
      .col-5 {
        width: 41.66667%;
      }
      .col-6 {
        width: 50%;
      }
      .col-7 {
        width: 58.33333%;
      }
      .col-8 {
        width: 66.66667%;
      }
      .col-9 {
        width: 75%;
      }
      .col-10 {
        width: 83.33333%;
      }
      .col-11 {
        width: 91.66667%;
      }
      .col-12 {
        width: 100%;
      }
      @media (min-width: 40.06rem) {
        .sm-col {
          float: left;
          box-sizing: border-box;
        }
        .sm-col-right {
          float: right;
          box-sizing: border-box;
        }
        .sm-col-1 {
          width: 8.33333%;
        }
        .sm-col-2 {
          width: 16.66667%;
        }
        .sm-col-3 {
          width: 25%;
        }
        .sm-col-4 {
          width: 33.33333%;
        }
        .sm-col-5 {
          width: 41.66667%;
        }
        .sm-col-6 {
          width: 50%;
        }
        .sm-col-7 {
          width: 58.33333%;
        }
        .sm-col-8 {
          width: 66.66667%;
        }
        .sm-col-9 {
          width: 75%;
        }
        .sm-col-10 {
          width: 83.33333%;
        }
        .sm-col-11 {
          width: 91.66667%;
        }
        .sm-col-12 {
          width: 100%;
        }
      }
      @media (min-width: 52.06rem) {
        .md-col {
          float: left;
          box-sizing: border-box;
        }
        .md-col-right {
          float: right;
          box-sizing: border-box;
        }
        .md-col-1 {
          width: 8.33333%;
        }
        .md-col-2 {
          width: 16.66667%;
        }
        .md-col-3 {
          width: 25%;
        }
        .md-col-4 {
          width: 33.33333%;
        }
        .md-col-5 {
          width: 41.66667%;
        }
        .md-col-6 {
          width: 50%;
        }
        .md-col-7 {
          width: 58.33333%;
        }
        .md-col-8 {
          width: 66.66667%;
        }
        .md-col-9 {
          width: 75%;
        }
        .md-col-10 {
          width: 83.33333%;
        }
        .md-col-11 {
          width: 91.66667%;
        }
        .md-col-12 {
          width: 100%;
        }
      }
      @media (min-width: 64.06rem) {
        .lg-col {
          float: left;
          box-sizing: border-box;
        }
        .lg-col-right {
          float: right;
          box-sizing: border-box;
        }
        .lg-col-1 {
          width: 8.33333%;
        }
        .lg-col-2 {
          width: 16.66667%;
        }
        .lg-col-3 {
          width: 25%;
        }
        .lg-col-4 {
          width: 33.33333%;
        }
        .lg-col-5 {
          width: 41.66667%;
        }
        .lg-col-6 {
          width: 50%;
        }
        .lg-col-7 {
          width: 58.33333%;
        }
        .lg-col-8 {
          width: 66.66667%;
        }
        .lg-col-9 {
          width: 75%;
        }
        .lg-col-10 {
          width: 83.33333%;
        }
        .lg-col-11 {
          width: 91.66667%;
        }
        .lg-col-12 {
          width: 100%;
        }
      }
      .flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
      }
      @media (min-width: 40.06rem) {
        .sm-flex {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
        }
      }
      @media (min-width: 52.06rem) {
        .md-flex {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
        }
      }
      @media (min-width: 64.06rem) {
        .lg-flex {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
        }
      }
      .flex-column {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
      }
      .flex-wrap {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
      }
      .items-start {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
      }
      .items-end {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
      }
      .items-center {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }
      .items-baseline {
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
      }
      .items-stretch {
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
      }
      .self-start {
        -ms-flex-item-align: start;
        align-self: flex-start;
      }
      .self-end {
        -ms-flex-item-align: end;
        align-self: flex-end;
      }
      .self-center {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
      }
      .self-baseline {
        -ms-flex-item-align: baseline;
        align-self: baseline;
      }
      .self-stretch {
        -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
      }
      .justify-start {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
      }
      .justify-end {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
      }
      .justify-center {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
      .justify-between {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
      }
      .justify-around {
        -ms-flex-pack: distribute;
        justify-content: space-around;
      }
      .content-start {
        -ms-flex-line-pack: start;
        align-content: flex-start;
      }
      .content-end {
        -ms-flex-line-pack: end;
        align-content: flex-end;
      }
      .content-center {
        -ms-flex-line-pack: center;
        align-content: center;
      }
      .content-between {
        -ms-flex-line-pack: justify;
        align-content: space-between;
      }
      .content-around {
        -ms-flex-line-pack: distribute;
        align-content: space-around;
      }
      .content-stretch {
        -ms-flex-line-pack: stretch;
        align-content: stretch;
      }
      .flex-auto {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        min-width: 0;
        min-height: 0;
      }
      .flex-none {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
      }
      .order-0 {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
      }
      .order-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
      }
      .order-2 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
      }
      .order-3 {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
      }
      .order-last {
        -webkit-box-ordinal-group: 100000;
        -ms-flex-order: 99999;
        order: 99999;
      }
      .relative {
        position: relative;
      }
      .absolute {
        position: absolute;
      }
      .fixed {
        position: fixed;
      }
      .top-0 {
        top: 0;
      }
      .right-0 {
        right: 0;
      }
      .bottom-0 {
        bottom: 0;
      }
      .left-0 {
        left: 0;
      }
      .z1 {
        z-index: 1;
      }
      .z2 {
        z-index: 2;
      }
      .z3 {
        z-index: 3;
      }
      .z4 {
        z-index: 4;
      }
      .border {
        border-style: solid;
        border-width: 1px;
      }
      .border-top {
        border-top-style: solid;
        border-top-width: 1px;
      }
      .border-right {
        border-right-style: solid;
        border-right-width: 1px;
      }
      .border-bottom {
        border-bottom-style: solid;
        border-bottom-width: 1px;
      }
      .border-left {
        border-left-style: solid;
        border-left-width: 1px;
      }
      .border-none {
        border: 0;
      }
      .rounded {
        border-radius: 3px;
      }
      .circle {
        border-radius: 50%;
      }
      .rounded-top {
        border-radius: 3px 3px 0 0;
      }
      .rounded-right {
        border-radius: 0 3px 3px 0;
      }
      .rounded-bottom {
        border-radius: 0 0 3px 3px;
      }
      .rounded-left {
        border-radius: 3px 0 0 3px;
      }
      .not-rounded {
        border-radius: 0;
      }
      .hide {
        position: absolute;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
      }
      @media (max-width: 40rem) {
        .xs-hide {
          display: none;
        }
      }
      @media (min-width: 40.06rem) and (max-width: 52rem) {
        .sm-hide {
          display: none;
        }
      }
      @media (min-width: 52.06rem) and (max-width: 64rem) {
        .md-hide {
          display: none;
        }
      }
      @media (min-width: 64.06rem) {
        .lg-hide {
          display: none;
        }
      }
      .display-none {
        display: none;
      }
      * {
        box-sizing: border-box;
      }
      body {
        background: #fff;
        color: #4a4a4a;
        font-family: EB Garamond, times, serif;
        min-width: 315px;
        overflow-x: hidden;
        font-smooth: always;
        -webkit-font-smoothing: antialiased;
      }
      main {
        max-width: 700px;
        margin: 0 auto;
      }
      p {
        padding: 0;
        margin: 0;
      }
      .ampstart-accent {
        color: #fff;
      }
      #content:target {
        margin-top: calc(0px - 3.5rem);
        padding-top: 3.5rem;
      }
      .ampstart-title-lg {
        font-size: 2.25rem;
        line-height: 1.11111;
        letter-spacing: 0.06rem;
      }
      .ampstart-title-md {
        font-size: 1.25rem;
        line-height: 1.6;
        letter-spacing: 0.06rem;
      }
      .ampstart-title-sm {
        font-size: 0.6875rem;
        line-height: 1.81818;
        letter-spacing: 0.06rem;
      }
      .ampstart-subtitle,
      body {
        line-height: 2.0625;
        letter-spacing: normal;
      }
      .ampstart-subtitle {
        color: #fff;
        font-size: 1rem;
      }
      .ampstart-byline,
      .ampstart-caption,
      .ampstart-hint,
      .ampstart-label {
        font-size: 0.875rem;
        color: #4f4f4f;
        line-height: 1.42857;
        letter-spacing: 0.06rem;
      }
      .ampstart-label {
        text-transform: uppercase;
      }
      .ampstart-footer,
      .ampstart-small-text {
        font-size: 0.75rem;
        line-height: 1rem;
        letter-spacing: 0.06rem;
      }
      .ampstart-card {
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
          0 1px 1px -1px rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      }
      .h1,
      h1 {
        font-size: 2.25rem;
        line-height: 1.11111;
      }
      .h2,
      h2 {
        font-size: 1.25rem;
        line-height: 1.6;
      }
      .h3,
      h3 {
        font-size: 0.6875rem;
        line-height: 1.81818;
      }
      .h4,
      h4 {
        line-height: 2.0625;
      }
      .h4,
      .h5,
      h4,
      h5 {
        font-size: 0.875rem;
      }
      .h5,
      h5 {
        line-height: 1.42857;
      }
      .h6,
      h6 {
        font-size: 0.75rem;
        line-height: 1rem;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 0;
        padding: 0;
        font-weight: 400;
        letter-spacing: 0.06rem;
      }
      a,
      a:active,
      a:visited {
        color: inherit;
      }
      .ampstart-btn {
        font-family: inherit;
        font-weight: inherit;
        font-size: 1rem;
        line-height: 1.42857;
        padding: 0.7em 0.8em;
        text-decoration: none;
        white-space: nowrap;
        word-wrap: normal;
        vertical-align: middle;
        cursor: pointer;
        background-color: #fff;
        color: #000;
        border: 1px solid #000;
      }
      .ampstart-btn:visited {
        color: #000;
      }
      .ampstart-btn-secondary {
        background-color: #000;
        color: #fff;
        border: 1px solid #fff;
      }
      .ampstart-btn-secondary:visited {
        color: #fff;
      }
      .ampstart-btn:active .ampstart-btn:focus {
        opacity: 0.8;
      }
      .ampstart-btn[disabled],
      .ampstart-btn[disabled]:active,
      .ampstart-btn[disabled]:focus,
      .ampstart-btn[disabled]:hover {
        opacity: 0.5;
        outline: 0;
        cursor: default;
      }
      .ampstart-dropcap:first-letter {
        color: #fff;
        font-size: 2.25rem;
        font-weight: 700;
        float: left;
        overflow: hidden;
        line-height: 2.25rem;
        margin-left: 0;
        margin-right: 0.5rem;
      }
      .ampstart-initialcap {
        padding-top: 1rem;
        margin-top: 1.5rem;
      }
      .ampstart-initialcap:first-letter {
        color: #fff;
        font-size: 2.25rem;
        font-weight: 700;
        margin-left: -2px;
      }
      .ampstart-pullquote {
        border: none;
        border-left: 4px solid #fff;
        font-size: 0.6875rem;
        padding-left: 1.5rem;
      }
      .ampstart-byline time {
        font-style: normal;
        white-space: nowrap;
      }
      .amp-carousel-button-next {
        background-image: url('data:image/svg+xml;charset=utf-8,<svg width="18" height="18" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg"><title>Next</title><path d="M25.557 14.7L13.818 2.961 16.8 0l16.8 16.8-16.8 16.8-2.961-2.961L25.557 18.9H0v-4.2z" fill="#FFF" fill-rule="evenodd"/></svg>');
      }
      .amp-carousel-button-prev {
        background-image: url('data:image/svg+xml;charset=utf-8,<svg width="18" height="18" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg"><title>Previous</title><path d="M33.6 14.7H8.043L19.782 2.961 16.8 0 0 16.8l16.8 16.8 2.961-2.961L8.043 18.9H33.6z" fill="#FFF" fill-rule="evenodd"/></svg>');
      }
      .ampstart-dropdown {
        min-width: 200px;
      }
      .ampstart-dropdown.absolute {
        z-index: 100;
      }
      .ampstart-dropdown.absolute > section,
      .ampstart-dropdown.absolute > section > header {
        height: 100%;
      }
      .ampstart-dropdown > section > header {
        background-color: #fff;
        border: 0;
        color: #000;
      }
      .ampstart-dropdown > section > header:after {
        display: inline-block;
        content: "+";
        padding: 0 0 0 1.5rem;
        color: #fff;
      }
      .ampstart-dropdown > [expanded] > header:after {
        content: "–";
      }
      .absolute .ampstart-dropdown-items {
        z-index: 200;
      }
      .ampstart-dropdown-item {
        background-color: #fff;
        color: #fff;
        opacity: 0.9;
      }
      .ampstart-dropdown-item:active,
      .ampstart-dropdown-item:hover {
        opacity: 1;
      }
      .ampstart-footer {
        background-color: #fff;
        color: #000;
        padding-top: 5rem;
        padding-bottom: 5rem;
      }
      .ampstart-footer .ampstart-icon {
        fill: #000;
      }
      .ampstart-footer .ampstart-social-follow li:last-child {
        margin-right: 0;
      }
      .ampstart-image-fullpage-hero {
        color: #000;
      }
      .ampstart-fullpage-hero-heading-text,
      .ampstart-image-fullpage-hero .ampstart-image-credit {
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        background: #fff;
        padding: 0 1rem 0.2rem;
      }
      .ampstart-image-fullpage-hero > amp-img {
        max-height: calc(100vh - 3.5rem);
      }
      .ampstart-image-fullpage-hero > amp-img img {
        -o-object-fit: cover;
        object-fit: cover;
      }
      .ampstart-fullpage-hero-heading {
        line-height: 3.5rem;
      }
      .ampstart-fullpage-hero-cta {
        background: transparent;
      }
      .ampstart-readmore {
        background: -webkit-linear-gradient(
          bottom,
          rgba(0, 0, 0, 0.65),
          transparent
        );
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 0, transparent);
        color: #000;
        margin-top: 5rem;
        padding-bottom: 3.5rem;
      }
      .ampstart-readmore:after {
        display: block;
        content: "⌄";
        font-size: 1.25rem;
      }
      .ampstart-readmore-text {
        background: #fff;
      }
      @media (min-width: 52.06rem) {
        .ampstart-image-fullpage-hero > amp-img {
          height: 60vh;
        }
      }
      .ampstart-image-heading {
        color: #000;
        background: -webkit-linear-gradient(
          bottom,
          rgba(0, 0, 0, 0.65),
          transparent
        );
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 0, transparent);
      }
      .ampstart-image-heading > * {
        margin: 0;
      }
      amp-carousel .ampstart-image-with-heading {
        margin-bottom: 0;
      }
      .ampstart-image-with-caption figcaption {
        color: #4f4f4f;
        line-height: 1.42857;
      }
      amp-carousel .ampstart-image-with-caption {
        margin-bottom: 0;
      }
      .ampstart-input {
        max-width: 100%;
        width: 300px;
        min-width: 100px;
        font-size: 1rem;
        line-height: 2.0625;
      }
      .ampstart-input [disabled],
      .ampstart-input [disabled] + label {
        opacity: 0.5;
      }
      .ampstart-input [disabled]:focus {
        outline: 0;
      }
      .ampstart-input > input,
      .ampstart-input > select,
      .ampstart-input > textarea {
        width: 100%;
        margin-top: 1rem;
        line-height: 2.0625;
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid #4a4a4a;
        background: none;
        color: #4a4a4a;
        outline: 0;
      }
      .ampstart-input > label {
        color: #fff;
        pointer-events: none;
        text-align: left;
        font-size: 0.875rem;
        line-height: 1rem;
        opacity: 0;
        -webkit-animation: 0.2s;
        animation: 0.2s;
        -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
      }
      .ampstart-input > input:focus,
      .ampstart-input > select:focus,
      .ampstart-input > textarea:focus {
        outline: 0;
      }
      .ampstart-input > input:focus::-webkit-input-placeholder,
      .ampstart-input > select:focus::-webkit-input-placeholder,
      .ampstart-input > textarea:focus::-webkit-input-placeholder {
        color: transparent;
      }
      .ampstart-input > input:focus::-moz-placeholder,
      .ampstart-input > select:focus::-moz-placeholder,
      .ampstart-input > textarea:focus::-moz-placeholder {
        color: transparent;
      }
      .ampstart-input > input:focus:-ms-input-placeholder,
      .ampstart-input > select:focus:-ms-input-placeholder,
      .ampstart-input > textarea:focus:-ms-input-placeholder {
        color: transparent;
      }
      .ampstart-input > input:focus::placeholder,
      .ampstart-input > select:focus::placeholder,
      .ampstart-input > textarea:focus::placeholder {
        color: transparent;
      }
      .ampstart-input > input:not(:placeholder-shown):not([disabled]) + label,
      .ampstart-input > select:not(:placeholder-shown):not([disabled]) + label,
      .ampstart-input
        > textarea:not(:placeholder-shown):not([disabled])
        + label {
        opacity: 1;
      }
      .ampstart-input > input:focus + label,
      .ampstart-input > select:focus + label,
      .ampstart-input > textarea:focus + label {
        -webkit-animation-name: a;
        animation-name: a;
      }
      @-webkit-keyframes a {
        to {
          opacity: 1;
        }
      }
      @keyframes a {
        to {
          opacity: 1;
        }
      }
      .ampstart-input > label:after {
        content: "";
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 45%;
        background: #fff;
        -webkit-transition: 0.2s;
        transition: 0.2s;
        -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        visibility: hidden;
        width: 10px;
      }
      .ampstart-input > input:focus + label:after,
      .ampstart-input > select:focus + label:after,
      .ampstart-input > textarea:focus + label:after {
        left: 0;
        width: 100%;
        visibility: visible;
      }
      .ampstart-input > input[type="search"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
      .ampstart-input > input[type="range"] {
        border-bottom: 0;
      }
      .ampstart-input > input[type="range"] + label:after {
        display: none;
      }
      .ampstart-input > select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
      .ampstart-input > select + label:before {
        content: "⌄";
        line-height: 2.0625;
        position: absolute;
        right: 5px;
        zoom: 2;
        top: 0;
        bottom: 0;
        color: #fff;
      }
      .ampstart-input-chk,
      .ampstart-input-radio {
        width: auto;
        color: #4a4a4a;
      }
      .ampstart-input input[type="checkbox"],
      .ampstart-input input[type="radio"] {
        margin-top: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        border: 1px solid #fff;
        vertical-align: middle;
        margin-right: 0.5rem;
        text-align: center;
      }
      .ampstart-input input[type="radio"] {
        border-radius: 20px;
      }
      .ampstart-input input[type="checkbox"]:not([disabled]) + label,
      .ampstart-input input[type="radio"]:not([disabled]) + label {
        pointer-events: auto;
        -webkit-animation: none;
        animation: none;
        vertical-align: middle;
        opacity: 1;
        cursor: pointer;
      }
      .ampstart-input input[type="checkbox"] + label:after,
      .ampstart-input input[type="radio"] + label:after {
        display: none;
      }
      .ampstart-input input[type="checkbox"]:after,
      .ampstart-input input[type="radio"]:after {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        content: " ";
        line-height: 1.4rem;
        vertical-align: middle;
        text-align: center;
        background-color: #000;
      }
      .ampstart-input input[type="checkbox"]:checked:after {
        background-color: #fff;
        color: #000;
        content: "✓";
      }
      .ampstart-input input[type="radio"]:checked {
        background-color: #000;
      }
      .ampstart-input input[type="radio"]:after {
        top: 3px;
        bottom: 3px;
        left: 3px;
        right: 3px;
        border-radius: 12px;
      }
      .ampstart-input input[type="radio"]:checked:after {
        content: "";
        font-size: 2.25rem;
        background-color: #fff;
      }
      .ampstart-input > label,
      _:-ms-lang(x) {
        opacity: 1;
      }
      .ampstart-input > input:-ms-input-placeholder,
      _:-ms-lang(x) {
        color: transparent;
      }
      .ampstart-input > input::placeholder,
      _:-ms-lang(x) {
        color: transparent;
      }
      .ampstart-input > input::-ms-input-placeholder,
      _:-ms-lang(x) {
        color: transparent;
      }
      .ampstart-input > select::-ms-expand {
        display: none;
      }
      .ampstart-headerbar {
        background-color: #000;
        color: #fff;
        z-index: 999;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
      }
      .ampstart-headerbar + :not(amp-sidebar),
      .ampstart-headerbar + amp-sidebar + * {
        margin-top: 3.5rem;
      }
      .ampstart-headerbar-nav .ampstart-nav-item {
        padding: 0 1rem;
        background: transparent;
        opacity: 0.8;
      }
      .ampstart-headerbar-nav {
        line-height: 3.5rem;
      }
      .ampstart-nav-item:active,
      .ampstart-nav-item:focus,
      .ampstart-nav-item:hover {
        opacity: 1;
      }
      .ampstart-navbar-trigger:focus {
        outline: none;
      }
      .ampstart-nav a,
      .ampstart-navbar-trigger,
      .ampstart-sidebar-faq a {
        cursor: pointer;
        text-decoration: none;
      }
      .ampstart-navbar-trigger {
        line-height: 3.5rem;
        font-size: 1.25rem;
      }
      .ampstart-headerbar-nav {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
      }
      .ampstart-nav-search {
        -webkit-box-flex: 0.5;
        -ms-flex-positive: 0.5;
        flex-grow: 0.5;
      }
      .ampstart-headerbar .ampstart-nav-search:active,
      .ampstart-headerbar .ampstart-nav-search:focus,
      .ampstart-headerbar .ampstart-nav-search:hover {
        box-shadow: none;
      }
      .ampstart-nav-search > input {
        border: none;
        border-radius: 3px;
        line-height: normal;
      }
      .ampstart-nav-dropdown {
        min-width: 200px;
      }
      .ampstart-nav-dropdown amp-accordion header {
        background-color: #000;
        border: none;
      }
      .ampstart-nav-dropdown amp-accordion ul {
        background-color: #000;
      }
      .ampstart-nav-dropdown .ampstart-dropdown-item,
      .ampstart-nav-dropdown .ampstart-dropdown > section > header {
        background-color: #000;
        color: #fff;
      }
      .ampstart-nav-dropdown .ampstart-dropdown-item {
        color: #fff;
      }
      .ampstart-sidebar {
        background-color: #000;
        color: #fff;
        min-width: 300px;
        width: 300px;
      }
      .ampstart-sidebar .ampstart-icon {
        fill: #fff;
      }
      .ampstart-sidebar-header {
        line-height: 3.5rem;
        min-height: 3.5rem;
      }
      .ampstart-sidebar .ampstart-dropdown-item,
      .ampstart-sidebar .ampstart-dropdown header,
      .ampstart-sidebar .ampstart-faq-item,
      .ampstart-sidebar .ampstart-nav-item,
      .ampstart-sidebar .ampstart-social-follow {
        margin: 0 0 2rem;
      }
      .ampstart-sidebar .ampstart-nav-dropdown {
        margin: 0;
      }
      .ampstart-sidebar .ampstart-navbar-trigger {
        line-height: inherit;
      }
      .ampstart-navbar-trigger svg {
        pointer-events: none;
      }
      .ampstart-related-article-section {
        border-color: #4a4a4a;
      }
      .ampstart-related-article-section .ampstart-heading {
        color: #4a4a4a;
        font-weight: 400;
      }
      .ampstart-related-article-readmore {
        color: #fff;
        letter-spacing: 0;
      }
      .ampstart-related-section-items > li {
        border-bottom: 1px solid #4a4a4a;
      }
      .ampstart-related-section-items > li:last-child {
        border: none;
      }
      .ampstart-related-section-items .ampstart-image-with-caption {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 0;
      }
      .ampstart-related-section-items .ampstart-image-with-caption > amp-img,
      .ampstart-related-section-items
        .ampstart-image-with-caption
        > figcaption {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
      }
      .ampstart-related-section-items
        .ampstart-image-with-caption
        > figcaption {
        padding-left: 1rem;
      }
      @media (min-width: 40.06rem) {
        .ampstart-related-section-items > li {
          border: none;
        }
        .ampstart-related-section-items
          .ampstart-image-with-caption
          > figcaption {
          padding: 1rem 0;
        }
        .ampstart-related-section-items .ampstart-image-with-caption > amp-img,
        .ampstart-related-section-items
          .ampstart-image-with-caption
          > figcaption {
          -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
        }
      }
      .ampstart-social-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
      }
      .ampstart-social-box > amp-social-share {
        background-color: #fff;
      }
      .ampstart-icon {
        fill: #fff;
      }
      .h1,
      .h2,
      h1,
      h2 {
        letter-spacing: 0;
      }
      .h3,
      h3 {
        color: #000;
        font-family: Work Sans, arial, sans-serif;
        letter-spacing: 0.6px;
      }
      .h4,
      h4 {
        letter-spacing: 0.2px;
        line-height: 1.42857;
      }
      .ampstart-headerbar {
        background: #fff;
        color: #000;
      }
      .ampstart-headerbar-title {
        font: normal 1.25rem/1.6 EB Garamond, times, serif;
      }
      .ampstart-navbar-trigger {
        font-size: 1.5rem;
      }
      .ampstart-nav-dropdown .ampstart-dropdown-item,
      .ampstart-nav-dropdown .ampstart-dropdown > section > header,
      .ampstart-sidebar-faq {
        font-family: Work Sans, arial, sans-serif;
      }
      .ampstart-nav-dropdown .ampstart-dropdown {
        letter-spacing: 0;
      }
      .ampstart-dropdown-item {
        text-transform: none;
      }
      .ampstart-nav-dropdown amp-accordion ul {
        margin-left: 1rem;
      }
      .ampstart-sidebar .ampstart-dropdown-item,
      .ampstart-sidebar .ampstart-dropdown header,
      .ampstart-sidebar .ampstart-faq-item {
        margin-bottom: 1.5rem;
      }
      .ampstart-article-summary header,
      .ampstart-image-fullpage-hero figcaption {
        background: #fff;
        opacity: 0.9;
      }
      .ampstart-image-fullpage-hero figcaption {
        margin: 1.5rem;
        top: auto;
      }
      .ampstart-fullpage-hero-heading {
        font-size: 1.25rem;
        line-height: 1.6;
        margin-bottom: 0;
      }
      .ampstart-image-fullpage-hero {
        margin-bottom: 0;
      }
      .ampstart-image-fullpage-hero footer {
        position: static;
      }
      .ampstart-image-credit {
        font: 700 0.6875rem/1.6 Work Sans, arial, sans-serif;
        letter-spacing: 0.6px;
      }
      .ampstart-image-credit br {
        display: none;
      }
      .ampstart-fullpage-hero-heading-text,
      .ampstart-image-fullpage-hero .ampstart-image-credit {
        background: none;
        padding: 0;
      }
      .ampstart-readmore {
        background: none;
        display: block;
        margin: 0;
        padding: 1rem 0 2rem;
      }
      .ampstart-readmore:after {
        content: " ";
        border: 2px solid #000;
        border-width: 0 2px 2px 0;
        bottom: 2rem;
        display: block;
        height: 10px;
        left: calc(50% - 5px);
        position: absolute;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        width: 10px;
      }
      .ampstart-dropcap:first-letter {
        color: #000;
        font-size: 3.59375rem;
        font-weight: inherit;
        line-height: 1.14782;
      }
    </style>

    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <amp-analytics type="gtag" data-credentials="include">
      <script type="application/json">
        {
          "vars" : {
            "gtag_id": "{{ .Site.GoogleAnalytics }}",
            "config" : {
              "{{ .Site.GoogleAnalytics }}": { "groups": "default" }
            }
          }
        }
      </script>
    </amp-analytics>
    <main id="content" role="main">
      <h1 class="m3 center italic">{{ .Title }}</h1>
      {{ .Content }}
    </main>

    <!-- Start Footer -->
    <footer class="ampstart-footer flex flex-column items-center px3">
      {{ with .Site.Params.contact }}
      <p class="m3">{{ .description }}</p>
      <ul
        class="ampstart-social-follow list-reset flex justify-around items-center flex-wrap m0 mb4"
      >
        <!-- Simple Icons | CC0 1.0 Universal | https://github.com/simple-icons/simple-icons -->
        {{ with .twitter }}
        <li class="mr1">
          <a
            href="{{ . }}"
            target="_blank"
            class="inline-block p1"
            aria-label="Link to Twitter"
          >
            <svg
              role="img"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <title>Twitter icon</title>
              <path
                d="M23.954 4.569c-.885.389-1.83.654-2.825.775 1.014-.611 1.794-1.574 2.163-2.723-.951.555-2.005.959-3.127 1.184-.896-.959-2.173-1.559-3.591-1.559-2.717 0-4.92 2.203-4.92 4.917 0 .39.045.765.127 1.124C7.691 8.094 4.066 6.13 1.64 3.161c-.427.722-.666 1.561-.666 2.475 0 1.71.87 3.213 2.188 4.096-.807-.026-1.566-.248-2.228-.616v.061c0 2.385 1.693 4.374 3.946 4.827-.413.111-.849.171-1.296.171-.314 0-.615-.03-.916-.086.631 1.953 2.445 3.377 4.604 3.417-1.68 1.319-3.809 2.105-6.102 2.105-.39 0-.779-.023-1.17-.067 2.189 1.394 4.768 2.209 7.557 2.209 9.054 0 13.999-7.496 13.999-13.986 0-.209 0-.42-.015-.63.961-.689 1.8-1.56 2.46-2.548l-.047-.02z"
              />
            </svg>
          </a>
        </li>
        {{ end }} {{ with .facebook }}
        <li class="mr1">
          <a
            href="{{ . }}"
            target="_blank"
            class="inline-block p1"
            aria-label="Link to Twitter"
          >
            <svg
              role="img"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <title>Facebook icon</title>
              <path
                d="M23.9981 11.9991C23.9981 5.37216 18.626 0 11.9991 0C5.37216 0 0 5.37216 0 11.9991C0 17.9882 4.38789 22.9522 10.1242 23.8524V15.4676H7.07758V11.9991H10.1242V9.35553C10.1242 6.34826 11.9156 4.68714 14.6564 4.68714C15.9692 4.68714 17.3424 4.92149 17.3424 4.92149V7.87439H15.8294C14.3388 7.87439 13.8739 8.79933 13.8739 9.74824V11.9991H17.2018L16.6698 15.4676H13.8739V23.8524C19.6103 22.9522 23.9981 17.9882 23.9981 11.9991Z"
              />
            </svg>
          </a>
        </li>
        {{ end }} {{ with .linkedin }}
        <li class="mr1">
          <a
            href="{{ . }}"
            target="_blank"
            class="inline-block p1"
            aria-label="Link to LinkedIn"
          >
            <svg
              role="img"
              width="18"
              height="18"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <title>LinkedIn icon</title>
              <path
                d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"
              />
            </svg>
          </a>
        </li>
        {{ end }} {{ with .github }}
        <li class="mr1">
          <a
            href="{{ . }}"
            target="_blank"
            class="inline-block p1"
            aria-label="Link to Github"
          >
            <svg
              role="img"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <title>GitHub icon</title>
              <path
                d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
              />
            </svg>
          </a>
        </li>
        {{ end }} {{ with .email }}
        <li class="mr1">
          <a
            href="{{ . }}"
            target="_blank"
            class="inline-block p1"
            aria-label="Link to Email"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="18.4"
              viewbox="0 0 56 43"
            >
              <title>email</title>
              <path
                d="M10.5 6.4C9.1 6.4 8 7.5 8 8.9v21.3c0 1.3 1.1 2.5 2.5 2.5h34.9c1.4 0 2.5-1.2 2.5-2.5V8.9c0-1.4-1.1-2.5-2.5-2.5H10.5zm2.1 2.5h30.7L27.9 22.3 12.6 8.9zm-2.1 1.4l16.6 14.6c.5.4 1.2.4 1.7 0l16.6-14.6v19.9H10.5V10.3z"
                class="ampstart-icon ampstart-icon-email"
              ></path>
            </svg>
          </a>
        </li>
        {{ end }}
      </ul>
      {{ end }}

      <small>{{ .Site.Copyright }}</small>
    </footer>
    <!-- End Footer -->
  </body>
</html>
